<div class="flex-box-row" style="width: 100%; height: 100%;">
    <navigation-panel></navigation-panel>
    <div class="flex-box-column-justify-center" style="width: 93%; height: 20%; margin: 1%;">
        <!-- Agile Filters -->
        <div style="display: flex; border-bottom: 1px solid var(--border-line-color);">
            <artifact-reqtype style="width: 60%;" [applicationId]="application.id" 
                (requirementTypesLoaded)="onRequirementTypesLoaded($event)"
                (changeRequirementType)="onRequirementTypeChange($event)">
            </artifact-reqtype>
            <artifact-filters style="width: 40%;" [agileLayout]="true" [applicationId]="application.id"
                (changeAssignedto)="onAssignedtoChange($event)" (changeEpic)="onEpicChange($event)"
                (changeSprint)="onSprintChange($event)" (changeLayout)="onlayoutChange($event)">
            </artifact-filters>
        </div>
        <!-- Agile Artifacts -->
        <div class="flex-box-row" style="margin-top: 2%;" *ngIf="artifacts">
            <div class="flex-box-column" style="width: 100%; margin: 0 1px;" *ngFor="let agileStatus of agileStatuses;">
                <span style="margin-left: 1%; margin-bottom: 5%; color: #70757B; font-size: 16px; font-weight: bold;">{{agileStatus.statusText}}</span>
                <agile-artifact-card *ngFor="let artifact of artifactsByStatus(agileStatus.id)|async;" [artifact]="artifact">
                </agile-artifact-card>
            </div>
        </div>
    </div>
</div>