<style type="text/css">
	th {text-align: center;}
	legend {
		margin-bottom: 0px;
	    left: 0;
	    top: 0;
	    font-size: 100%;
	    z-index: 1;
	    width: 100%;
	}
	table {margin: 0px !important;}
	md-select {width: 100%;}
	a {
		position: absolute;
	    right: 32px;
	    top: 4px;
	}
</style>
<div>
	<legend>Roles</legend>
	<a class="glyphicon glyphicon-plus pull-right" (click)="addNew()"></a>
</div>
<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<!-- <th *ngFor="let column of columns;"
				[ngStyle]="{'width':column.width+'%'}">{{column.value}}</th> -->
			<th style="width: 40%;">Role Name</th>	
			<th style="width: 40%;">Employee Name</th>	
			<th style="width: 1%;">Action</th>	
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let row of rows;">
			<td>
				<!-- <md-input-container>
				  <input matInput [mdAutocomplete]="autoRole" [ngModel]="row.roleName" (ngModelChange)="onModelChange($event,'roleName',row)" 
				  [formControl]="roleCtrl">
				</md-input-container>

				<md-autocomplete #autoRole="mdAutocomplete">
				  <md-option *ngFor="let role of filteredRoles;" [value]="role.name">
				    {{ role.name }}
				  </md-option>
				</md-autocomplete> -->
				<md-select name="role" [ngModel]="row.roleId" (ngModelChange)="onModelChange($event,'roleId',row)">
					<!-- <md-option selected>Add Role</md-option> -->
					<md-option *ngFor="let role of globalService.roles" [value]="role.id">{{role.name}}</md-option>
				</md-select>
			</td>
			<td>
				<!-- <md-input-container>
				  <input matInput [mdAutocomplete]="autoEmp" [ngModel]="row.empName" (ngModelChange)="onModelChange($event,'empName',row)"
				  [formControl]="empCtrl">
				</md-input-container>

				<md-autocomplete #autoEmp="mdAutocomplete">
				  <md-option *ngFor="let emp of filteredEmps;" [value]="emp.fName + ' ' + emp.lName">
				    {{ emp.fName + ' ' + emp.lName }}
				  </md-option>
				</md-autocomplete> -->
				<md-select name="employee" [ngModel]="row.empId" (ngModelChange)="onModelChange($event,'empId',row)">
					<!-- <md-option selected>Add Employee</md-option> -->
					<md-option *ngFor="let emp of globalService.employees" [value]="emp.id">{{emp.fName + ' ' + emp.lName}}</md-option>
				</md-select>
			</td>
			<!-- <td contenteditable="true" *ngFor="let column of columns;let index=index;" 
			(input)="onModelChange($event,row,column.key)">{{row[column.key]}}</td> -->
			<!-- <td><span class="glyphicon glyphicon-edit"></span></td> -->
			<td style="text-align: center;"><span class="glyphicon glyphicon-trash"></span></td>
		</tr>
	</tbody>
</table>