<div style="display: flex; flex-direction: row; width: 100%; height: 100%;">
    <navigation-panel></navigation-panel>
    <div style="display: flex; flex-direction: column; width: 93%; height: 20%; justify-content: center; margin: 1%;">
        <!-- Agile Filters -->
        <div style="display: flex; border-bottom: 1px solid var(--border-line-color);">
            <artifact-reqtype style="width: 50%;" [applicationId]="applicationId"></artifact-reqtype>
            <artifact-filters style="width: 50%;" [applicationId]="applicationId"
            (changeAssignedto)="onAssignedtoChange($event)" (changeEpic)="onEpicChange($event)"
            (changeSprint)="onSprintChange($event)" (changeLayout)="onlayoutChange($event)">
            </artifact-filters>
        </div>
        <!-- Agile Artifacts -->
        <div style="display: flex; width: 100%; margin-top: 2%;" *ngIf="artifacts">
            <div style="display: flex; flex-direction: column;" *ngFor="let agileStatus of agileStatuses;">
                <label>{{agileStatus.statusText}}</label>
                <label *ngFor="let artifact of artifactsByStatus(agileStatus.statusText)|async;">{{artifact.name}}</label>
            </div>
        </div>
    </div>
</div>