@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "bootstrap/dist/css/bootstrap.min.css";
/* @font-face {
    font-family: franklin;
    src: url("./assets/fonts/FRABK.TTF");
}
@font-face {
    font-family: franklin1;
    src: url("./assets/fonts/FRAMD.TTF");
} */

:root {
    --theme-color: #4DB2F3;
    --heading-text-color: #262626;
    --descriptive-text-color: #70757B;
    --border-line-color: #E5E8E8;;
}

* {
	font-family: Roboto,"Helvetica Neue",sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0%;
    position: relative;
}

a {
    color: var(--theme-color);
    cursor: pointer;
}

.user-thumbnail {
    max-width: 36px;
    height: auto;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid var(--theme-color);
}

.user-thumbnail-small {
    max-width: 18px;
    height: auto;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid var(--theme-color);
}

.user-thumbnail-medium {
    max-width: 24px;
    height: auto;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid var(--theme-color);
}

.gradient-background {
    background-image: linear-gradient(to top, #3079EA, #5BCCF7);
}

.flex-box-row {
    display: flex;
    flex-direction: row;
}

.flex-box-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.flex-box-row-vertical-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-box-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex-box-column {
    display: flex;
    flex-direction: column;
}

.flex-box-column-reverse {
    display: flex;
    flex-direction: column-reverse;
}

.flex-box-column-justify-center {
    display: flex;
    flex-direction: column;
    justify-content: center
}

.flex-box-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.no-records-message {
    position: absolute;
    top: 30%;
    left: 50%;
    height: 50%;
    color: var(--descriptive-text-color);
    font-size: 24px;
}

.custom-checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.custom-checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkbox-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    border: 1px solid #CDD0D4;
    border-radius: 6px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.custom-checkbox-container input:checked ~ .checkbox-checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox-container .checkbox-checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: 1px solid #CDD0D4;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-select select {
    width: 65%;
    border-radius: 6px;
    padding: 4px;
    margin: 0;
    border: 1px solid #CDD0D4;
    color: #95989C;
    font-size: 14px;
    outline: none;
    cursor: pointer;
}

.flex-box-column.custom-select select {
    width: 100%;
}
