<div class="flex-box-column">
    <div class="flex-box-row-center search-row" style="height: 70px; color: #70757B; font-size: 10px;">
        <div class="flex-box-row-center" style="width: 60px;">
            <label class="custom-checkbox-container">
                <input type="checkbox" (change)="onCheckAll($event)">
                <span class="checkbox-checkmark"></span>
            </label>
        </div>
        <form class="flex-box-row-center" #filterForm="ngForm">
            <div class="flex-box-column" [style.width.px]="column.width" *ngFor="let column of columns;">
                <label>{{column.displayText}}</label>
                <input type="text" [name]="column.key" ngModel
                    style="width: 70%; height: 22px; margin: 10px 10px 10px 0;">
            </div>
        </form>
    </div>
    <div class="flex-box-row-center data-row" style="height: 50px; color: #262626; font-size: 12px; border-top: 1px solid#E5E8E8;" 
        *ngFor="let row of data|dataGridPipe: customFilter; odd as isOdd; last as last;" [ngStyle]="{'background':isOdd?'#F8F9FB':'','border-bottom': last?'1px solid #E5E8E8':''}">
        <div class="flex-box-row-center" style="width: 60px;">
            <label class="custom-checkbox-container" style="margin-bottom: 26px;">
                <input type="checkbox" [checked]="row.checked" (change)="onChecked($event, row)">
                <span class="checkbox-checkmark"></span>
            </label>
        </div>
        <div class="flex-box-row" [style.width.px]="column.width" *ngFor="let column of columns;">
            <a *ngIf="column.showLink" (click)="onLinkClick(row.id)">{{row[column.key]}}</a>
            <span *ngIf="!column.showLink">{{row[column.key]}}</span>
        </div>
    </div>
</div>