<div class="flex-box-row">
    <navigation-panel [type]="'artifact'" (changeSection)="onChangeSection($event)"></navigation-panel>
    <div class="flex-box-column-justify-center" style="width: 93%; height: 20%; margin: 1%;">
        <div style="display: flex; border-bottom: 1px solid var(--border-line-color);">
            <span style="flex: 1; color: #70757B; font-size: 30px;">{{artifact.id ? artifact.UID + ' - ' + artifact.name : 'Add New'}}</span>
            <a style="color: #C3D6FC; font-size: 12px; border: 1px solid #BCD1FC; border-radius: 20px; background-color: #F8F9FB; padding: 10px 14px;">Save</a>
        </div>
        <!-- Artifact -->
        <artifact-details *ngIf="activeSection==='details'" [artifact]="artifact" [attributes]="attributes"></artifact-details>
        <artifact-comments *ngIf="activeSection==='comments'" [comments]="artifact.comments"></artifact-comments>
        <artifact-associations *ngIf="activeSection==='associations'"></artifact-associations>
        <artifact-attachments *ngIf="activeSection==='attachments'"></artifact-attachments>
        <artifact-history *ngIf="activeSection==='history'"></artifact-history>
    </div>
</div>