<div class="flex-box-row">
    <navigation-panel [type]="'artifact'" (changeSection)="onChangeSection($event)"></navigation-panel>
    <div class="flex-box-column-justify-center" style="width: 93%; height: 20%; margin: 1%;">
        <div style="display: flex; border-bottom: 1px solid var(--border-line-color);">
            <span style="flex: 1; color: #70757B; font-size: 30px;">{{artifact.id ? artifact.UID + ' - ' + artifact.name : 'Add New'}}</span>
            <a class="save-btn" (click)="actionArtifact()">Save</a>
        </div>
        <!-- Artifact -->
        <artifact-details *ngIf="activeSection==='details'" [artifact]="artifact" [attributes]="attributes" [parentArtifacts]="parentArtifacts"></artifact-details>
        <artifact-comments *ngIf="activeSection==='comments'" [artifact]="artifact"></artifact-comments>
        <artifact-associations *ngIf="activeSection==='associations'" [artifact]="artifact"></artifact-associations>
        <artifact-attachments *ngIf="activeSection==='attachments'" [artifact]="artifact"></artifact-attachments>
        <artifact-history *ngIf="activeSection==='history'" [artifact]="artifact"></artifact-history>
    </div>
</div>